@charset "UTF-8";


body{
    margin: auto;
    background-color: #773344

}

nav {
    display: flex;
    background-color: #e3b5a4; 
    justify-content: space-between; 
    align-items: center;  

}

h1, h2 {
    font-family: 'Cookie', cursive;
    font-weight: normal;
}

h2{
    font-size: 3em;
}

p, li{
    font-size: 1.2em;
}

.logo {
    font-size: 6em;
    margin: 10px;
   
    
}

.menu{
    margin: 0px;
    list-style: none;
    display: inline;   

}

a{ 
    color: #d44d5c;
    text-decoration: none;
    padding-right: 10px;
    
}
li a:hover{
    color: #0b0014 ;
}

.apresentacao{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 70%;
    margin: auto;
    align-items: center;
    
}

.texto{
    text-align: justify;
    width: 300px;
    margin-left: 20px;
    }


footer{
    background-color: #0b0014;
    margin: auto;
    color: #e3b5a4;
    text-align: center;
    display: flex;
    flex-flow: column;  
}

footer > h2 {
    margin: 10px 0px;
}

footer > ul{
    list-style: none;
    padding-left: 0;
}

footer > ul > li {
    padding-bottom: 5px;
}

.contatos{
    margin-left: auto;
    margin-right: auto;
    width: 11em;
}

.contatos:hover{
    color: #e3b5a4;
}

.flex-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;

  }

.livro{
    box-shadow: 5px 5px 5px;
    background-color: #f5e9e2;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    margin: 20px;
    
  }

.resumo{
    text-align: justify;
    margin: 10px;
    

}

.genero{
    text-align: center;
    
    
    
}

.foto{
    margin-top: 7px;
}

.definicao{
    text-align: justify;
    margin: 1px 150px;
}

